
html, body{
    height: 100%;
    margin: 0;
}


header {
    background-image: url(http://wallpapersite.com/images/pages/pic_h/5810.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sansita', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 50px;
}

p {
    max-width: 600px;
    margin: 0 auto 20px;
}